<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Send Money</title>

		<!-- Bootstrap core CSS -->
		<link href="/bootstrap.min.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">

		<script type="text/javascript" src="/jquery.js"></script>
		<script src="https://cdn.firebase.com/js/client/1.1.3/firebase.js"></script>
		<script type="text/javascript" src="/bitcoinjs.min.js"></script>
		<script type="text/javascript" src="/receive.js"></script>
	</head>

	<body>

		<div class="main" data-transaction-id="<%= transaction %>">

			<h3 class="amount" data-show="dollars">$-</h3>

			<form class="form-inline" role="form">
				<p class="instructions">
					You're almost ready to receive your Bitcoin payment. We just need to know your address.
				</p>
				<input type="text" class="input address input-lg form-control" id="address" placeholder="Bitcoin Address">
				<button type="submit" class="btn btn-primary btn-lg">Confirm</button>
			</form>
			<div class="waiting" style="display:none;">
				<p>Thanks! We'll shoot you an email once the transaction has been processed.</p>
			</div>

			<div class="footer">
				<p>Created at Money 20/20 &middot; Powered by Chain</p>
			</div>

		</div> <!-- /container -->

	</body>
</html>